
:root{
    --color-1: #ffffff;
    --text-color-1: #076593;
    --accent-color-1: #9c9c9c;

}

*{
    margin:0;
    padding:0;
   
}

h1{
    margin: 0px;
    padding: 10px;
}

h2{
    margin: 8px;
    padding: 8px;
}

p{
    margin: 6px;
    padding: 6px;
}
body{
    background: linear-gradient(#ffffff,hsl(213, 100%, 92%));
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    


    margin: 10px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    color: #076593;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    
}   

button{
    padding: 3px;
    margin: 2px

}

.wrap-box{
    border-style: outset;
    border-width: 5px;
    border-color: #076593;
    border-radius: 10px;
    padding: 10px;

}



/* sidebar stuff */
.container{
    display: flex;
    justify-content: space-evenly;
}

nav{
    height: 60px;
    background-color: var(--color-1);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.links-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav a{
    height: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--text-color-1)
}
nav a:hover{
    background-color: var(--accent-color-1);
}

nav svg{
    fill: var(--text-color-1)
}

#sidebar-active{
    display: none;
}

.open-sidebar-button, .close-sidebar-button{
    display: none;
}
